/**
* disable ripple animations
*/
/*
*.jfx-rippler {
*    -jfx-rippler-disabled: true;
*}
*/
.root { 
	-fx-focus-color: transparent; 
	-fx-faint-focus-color: transparent;
}

.handCursor {
	-fx-cursor: hand
}

/**
 * toolbar
 */

#toolbar {
	-fx-background-color: #2192F2;
}

#toolbar .label {
	-fx-text-fill: white;
}


#toolbar .label {
	-fx-text-fill: white;
}

#toolbar .choice-box {
	-fx-background-color: #2C3964;
	
}
#toolbar .choice-box .context-menu { 
	-fx-background-color: #2C3964;
}
#toolbar .jfx-button  { 
	-fx-text-fill: white;
	-fx-background-color: #2C3964;
	-fx-translate-y: 1;
}

#toolbar .jfx-button .icon { 
	-fx-fill: white;
}

/**
 * options dialog
 * 
 */

.options-page {
	-fx-padding: 20
}

.options-tabs .tab-header-background {
	-fx-background-color: white;
}
.options-tabs .tab {
	-fx-border-width: 0 0 3 0;
	-fx-background-color: white;
	-fx-border-color: transparent;
}
.options-tabs .tab:selected {
	-fx-border-width: 0 0 3 0;
	-fx-border-color: #2192F2;
}
.options-page > .section-header {
	-fx-text-fill: #2192F2;
	-fx-font-size: 16;
    -fx-font-weight: bold;
}
.options-page > .section-end {
	-fx-padding: 50 0 0 0;
}
.options-page .options-entry {
	-fx-padding: 5
}
.options-page .options-entry .jfx-toggle-button * {
	-fx-padding: 0;
}

.options-page .options-entry > .label {
	-fx-padding: 0 20 0 0
}

/**
 * export dialog
 */
 
 #exportArea {
 	-fx-padding: 20;
 }

/**
*
*/
#importerArea .tab * {
	-fx-text-fill: black;
    -fx-font-weight: normal;
    -fx-font-size: 16;
}
/**
* working area
*/




/**
* working area > request tab bar
*/

#openRequestArea {
	-fx-background-color: white;
}


#openRequestArea .jfx-button {
	-fx-padding: 7;
}

.jfx-tab-pane .tab-header-background {
	-fx-background-color: white;
}

.jfx-tab-pane .tab-header-area .tab-down-button {
	-fx-background-color: black;
}

.jfx-tab-pane .tab-header-area .label {
    -fx-max-width: 150px
}

.jfx-tab-pane .label {
    -fx-text-fill: black;
    -fx-font-weight: normal;
    -fx-padding: 6 10 6 10;
    -fx-font-size: 14;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: #2c3964;
}

.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: #2192f2;
}
.mm-request-dirty .label   {
	 -fx-font-weight: bold;
}
.mm-request-dirty .tab-container .context-menu  {
	 -fx-font-weight: normal;
}



/**
* working area > generalRequestEdit
*/

#generalRequestEdit {
	-fx-padding: 20;
	-fx-background-color: white;
	
}

#generalRequestEdit #submitBtn {
	-fx-background-color: #2192f2;
    -fx-text-fill: white;
}

#generalRequestEdit .empty-menu > .arrow-button,
#generalRequestEdit .empty-menu > .arrow-button > .arrow {
	-fx-padding: 0;
}


#generalRequestEdit #saveBtn {
	-fx-background-color: #2C3964; 
    -fx-text-fill: white;
}

#generalRequestEdit .split-menu-button > .label {
	-fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
	
	-fx-background-radius: 3px 0px 0px 3px;
	-fx-background-insets: 0px;
	-fx-text-fill: white;
}
#generalRequestEdit .split-menu-button .arrow-button {
	-fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
	-fx-text-fill: white;
	-fx-inner-border: TRANSPARENT;
	-fx-background-radius: 0px 3px 3px 0px;
	-fx-background-insets: 0px;
	 
}

#requestComponent .variable-new {
    -fx-fill: transparent;
    -fx-stroke: #2192F2;
    -fx-stroke-width: 2;
}
#requestComponent .variable {
    -fx-fill: #2192F2
}


/**
* working area > request aspect area
*/

#tabs .tab-label {
    -fx-text-fill: black;
	-fx-font-weight: normal;
}
#tabs .tab-content-area {
	-fx-background-color: white;
	-fx-padding: 10 5 0 0;
}

/**
* working area > response area
*/

#statusDisplay {
	-fx-translate-y:5
}
#statusDisplay {
	-fx-spacing: 10;
}
#statusDisplay .emphasized {
	-fx-font-weight: bold;
}

/**
 * request collection area
 */

/**
 * request collection area > search area
 */
 
#searchArea {
	-fx-padding: 10;
}

#searchAreaField {
	-fx-padding: 2 10 2 10;
	-fx-background-color: lightgrey;
 	-fx-background-radius: 40px;
}

#searchAreaField .jfx-text-field {
	-fx-padding: 4 10 4 10;
}
#searchAreaField .label .icon {
	-fx-translate-y: 3;
}
 
.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.request-type {
	-fx-font-size: 8;
	-fx-font-weight: bold;
	-fx-translate-y: 3;
	-fx-text-fill: white;
	-fx-background-color: grey;
	-fx-background-radius: 3px;
	-fx-padding: 0 3 0 3;
	
}

.btn-starring {
	-fx-translate-y: -3;
}

/**
 * request collcetion area > entries
 */
 .selection-bar {
 	-fx-background-color: transparent;
 }
/*
.jfx-list-cell .sub-list  {
	-fx-background-insets: 0.0 !important;
	-fx-padding: 0;
}
.jfx-list-cell > .request-entry {
	-fx-scale-x: 1.8;
	-fx-scale-y: 1.8;
	-fx-padding: 0 50 0 50;
	-fx-font-size: 10;
	
} 
*/

/**
* response area
*/
.response-header {
    -fx-background-color: white;
	-fx-padding: 5 0 5 0;
}


/**
* plugins, todo: move towards a more generic css style  + split out layouting, for the rest of the application
* would ease theme development
*/

.generic-content-pane {
	-fx-background-color: white;
	-fx-padding: 20;
}

.generic-section {
	-fx-padding: 0 0 20 0;
}


.primary-button {
	-fx-background-color: #2192f2;
    -fx-text-fill: white;
}

.secondary-button {
	-fx-background-color: #2C3964; 
    -fx-text-fill: white;
}


/**
 * components
 */
 
 

/* plus button */
.btn-add-entry {
    -fx-pref-width: 40px;
    -fx-background-color: #2192f2;
    -fx-background-radius: 40px;
    -fx-pref-height: 40px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
    -fx-border-width: 0 50 50 0;
}

/**
* Table Editor
*/


.jfx-tree-table-view .tree-table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-pref-height: 32px;
    -fx-alignment: center-left;
}


/**
* content Editor
*/

.contentEditor {
	-fx-background-color: white;
}

.contentEditor .disabled {
	-fx-background-color: lightgrey;
}

.contentEditor  .contentEditor-header {
	-fx-padding: 10;
}
.contentEditor  .label {
	-fx-translate-y: 4;
	-fx-padding: 0 10;
}

.searchBox {
	-fx-padding: 5 10 5 10;
	-fx-background-color: white;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: black;
}

/**
* spinner
*/
.jfx-spinner .arc {
        -fx-stroke: #2192f2;
}

.first-spinner {
    -jfx-radius: 20;
}


.first-spinner .arc {
    -fx-stroke-width: 5.0;
}

.second-spinner {
    -jfx-radius: 30;
}

.second-spinner .arc {
    -fx-stroke-width: 5.0;
}

.third-spinner {
    -jfx-radius: 40;
}

.third-spinner .arc {
    -fx-stroke-width: 5.0;
}

.fourth-spinner {
    -jfx-radius: 50;
}

.fourth-spinner .arc {
    -fx-stroke-width: 5.0;
}

.fifth-spinner {
    -jfx-radius: 60;
}

.fifth-spinner .arc {
    -fx-stroke-width: 5.0;
}

.sixth-spinner {
    -jfx-radius: 70;
}

.sixth-spinner .arc {
    -fx-stroke-width: 5.0;
}

.seventh-spinner {
    -jfx-radius: 80;
}

.seventh-spinner .arc {
    -fx-stroke-width: 5.0;
}
  
/**
* tiny spinner
*/
.tiny-spinner {
	-fx-background-color: white;
	-fx-box-border: transparent;
    real-radius: 10;
    -fx-pref-height: real-radius;
    -fx-pref-width: real-radius;
    -fx-min-height: real-radius;
    -fx-min-width: real-radius;
    
}

/**
* Toast Style
*/

.jfx-snackbar-content {
    -fx-background-color: #323232;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #2192F2;
}

/**
* Popup
*/

.popup-title {
    -fx-font-weight: BOLD;
}