.selection {
    -fx-fill: darkgrey !important;
}

.plain {
	-fx-fill: #e5e5e5 !important;
}
.object {
    -fx-fill: #e5e5e5 !important;
}


.value {
    -fx-fill: #a0c8ea !important;
}

.array {
    -fx-fill: #e5e5e5 !important;
}

.bool {
    -fx-fill: #a0c8ea !important;
    -fx-font-weight: bold;
}

.number {
    -fx-fill: #a0c8ea !important;
    -fx-font-weight: bold;
}

.comment {
	-fx-fill: grey !important;
}

.keyword {
    -fx-fill: #2192F2 !important;
    -fx-font-weight: bold;
}