.selection {
    -fx-fill: lightgrey !important;
}

.plain {
	-fx-fill: black !important;
}
.object {
    -fx-fill: black !important;
}


.value {
    -fx-fill: $main-accent !important;
}

.array {
    -fx-fill: black !important;
}

.bool {
    -fx-fill: black !important;
    -fx-font-weight: bold;
}

.number {
    -fx-fill: $main-accent !important;
    -fx-font-weight: bold;
}

.comment {
	-fx-fill: grey !important;
}

.keyword {
    -fx-fill: $secondary-accent !important;
    -fx-font-weight: bold;
}