name: Nightly

on:
  push:
    branches:
      - master

jobs:
  build:
    if: contains(github.event.head_commit.message, '[NOBUILD]') == false
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - uses: actions/cache@v1
        with:
          path: ~/.mvnJlinkCache
          key: ${{ runner.os }}-mvnJlinkCache-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-mvnJlinkCache-
      - name: Set up JDK 11
        uses: joschi/setup-jdk@v1
        with:
          java-version: openjdk11
          architecture: x64
      - name: maven-settings-xml-action
        uses: whelk-io/maven-settings-xml-action@v4
        with:
          servers: '[{ "id": "github", "privateKey": "${{ secrets.DEPLOYMENT_KEY }}" }]'
      - name: Maven stats
        run: mvn -version
      - name: Package
        run: mvn -B package -DexcludedGroups=ui
      - name: Deploy to nightly
        run: mvn --% -B de.jutzig:github-release-plugin:release@deploy-nightly -pl milkman-dist
